*, ::before, ::after {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

:root {
    --contrast-bg:#BB2649;
    --main-bg:#0d0d0d;
}

body {
    font-size: 20px;
    color:white;
    background-color:var(--main-bg);
}

button, a {
    color:inherit;
}

a {
    text-decoration:none;
}

li {
    list-style:none;
}
