name: heven

services:
  client: 
    container_name: client
    build: 
      context: client
      dockerfile: Dockerfile
    ports:
      - "443:443"
  database: 
    container_name: db
    build:
      context: sql
      dockerfile: Dockerfile
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-p9goFK18O7XNFZI"]
      interval: 3s
      retries: 5
      start_period: 20s
