.navigator-box {
    position:relative;
    font-size: 1.6rem;
    min-height:120px;
}
.navigator-box .navigator {
    position:fixed;
    border-bottom: .3rem solid var(--red-c);
    display:grid;
    width:100%;
    background-color:#0d0d0d;
    padding-block:1.4rem;
    justify-content:center;
    grid-template-columns: 800px;
}
.navigator-box .list {
    display:grid;
    grid-template-columns: repeat(5, 7rem);
    justify-content: space-between;
}
.navigator-box .link {
    text-align:center;
}

.navigator-box .link .active {
    transition:  600ms easy-out;
}

.navigator-box .link a {
    padding-block: .4rem;
    transition: color,border-bottom, 350ms;
}

.navigator-box .link a:is(.active, :hover){
    border-bottom: .3rem solid white;
    color: var(--red-c);
    font-weight:bold;
}

@media (width < 850px) {
    .navigator-box .list {
        display:none;
        grid-template-columns:1fr;
    }
    .navigator-box .navigator {
        cursor:pointer;
        padding-block: .8rem;
        grid-template-columns:1fr;
    }
    .navigator-box .navigator:hover .list {
        display:grid;
    }

    .navigator-box .link a:is(.active, :hover){
        border-bottom: none;
    }
}
