.login-ac, .create-box {
    display:grid;
    row-gap:1rem;
}
.account-action .show-pass {
    position:absolute;
    right:0;
    top: 0;
    cursor:pointer;
    background-color:transparent;
    height: 1.4rem;
}
.login-ac .login-form, .create-box .create-form {
    display:grid;
    place-content:center;
    row-gap:1rem;
}

.account-action .title {
    text-align: center;
    font-size:2rem;
}

.account-action .inp-box {
    display:grid;
    position:relative;
    row-gap:.2rem;
    font-size:1.6rem;
    font-weight:bold;
}

.account-action .data-inp {
    padding:.8rem 1rem;
    color:black;
    background-color:#ffccff;
    letter-spacing: .2rem;
    font-size:1.4rem;
    transition:background-color, color, 300ms;
}

.account-action .data-inp:is(:hover,:focus-with,:focus,:focus-visible) {
    background-color:var(--red);
    color:white;
}

.account-action .data-inp::placeholder {
    color:#330033;
    font-weight:bold;
    font-size:1.2rem;
    letter-spacing: .15rem;
}


.account-action button[class="sb"] {
    background-color: var(--contrast-bg);
    padding:.8rem .8rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: .4rem;
    cursor:pointer;
    transition: filter 150ms;;
}
.account-action button[class="sb"]:is(:hover,:focus,:focus-with,:focus-visible) {
    filter:brightness(.5);
}

.account-action .panel {
    color:var(--red-c);
    font-weight:700;
    display:grid;
    justify-content:center;
    align-items:center;
    font-size:1.7rem;
    grid-template-columns: repeat(2,max-content);
    column-gap:1rem;
    transition: filter 300ms;
}
.account-action .panel a {
    width: max-content;
    padding-block: 1rem;
}
.account-action .panel a:is(:hover,:focuse) {
    filter:brightness(1.5);
}
